/* ===== Header Layout ===== */
.header {
  position: sticky;
  top: 0;
  z-index: 50;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(8px);
  border-bottom: 1px solid #fde68a;
  
}

.header-inner {
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 16px;
  height: 100px;   /* 여기서 조절 */
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* ===== Logo ===== */
.logo {
  font-size: 30px;
  font-weight: 800;
  color: #f97316;
}

/* ===== Navigation ===== */
.nav-menu {
  display: flex;
  gap: 70px;
  list-style: none;
  margin: 0 !important; 
}

.nav-menu a {
  color: #5e5b5b;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s ease;
  font-size: 20px;
  font-weight: bold;
}

.nav-menu a:hover {
  color: #f97316;
}

/* ===== Buttons [일단 사용 안하는 중]===== */
/* .nav-actions {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 8px 20px;
  border-radius: 9999px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.btn-login {
  background: #ffedd5;
  color: #f97316;
}

.btn-primary {
  background: #f97316;
  color: white;
}

.btn-primary:hover {
  background: #ea580c;
} */

/* ===== 로그인/회원가입 ===== */
.util-menu {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.util-menu a {
  text-decoration: none;
  color: #6b7280;
  padding: 0 12px;
  position: relative;
}

/* 구분선 */
.util-menu a:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 14px;
  background: #d1d5db;
}

/* hover */
.util-menu a:hover {
  color: #f97316;
}

/* 마이페이지 강조 */
.util-menu .highlight {
  color: #f97316;
  font-weight: 600;
}
