<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.ai_trip.AiTripMapper">

    <select id="getSpotsByNames" parameterType="java.util.List" resultType="com.pcwk.ehr.domain.TripVO">
        SELECT * FROM (
            SELECT 
                t1.trip_conts_id AS tripContsId,
                t1.trip_nm       AS tripNm,
                COALESCE(t1.trip_path_nm, t2.file_path_nm) AS tripPathNm, 
                t1.trip_addr     AS tripAddr,
                t1.trip_tag      AS tripTag
            FROM TRIP t1
            LEFT OUTER JOIN (
                /* 첨부파일 테이블에서 게시글별 대표 이미지 하나만 가져오기 */
                SELECT board_id, MAX(file_path_nm) as file_path_nm 
                FROM ATTACH_FILE 
                GROUP BY board_id
            ) t2 ON t1.trip_conts_id = t2.board_id
            WHERE 1=1
            /* 사진(썸네일 또는 첨부파일)이 하나라도 있는 데이터만 필터링 */
            AND (t1.trip_path_nm IS NOT NULL OR t2.file_path_nm IS NOT NULL)
            
            /* GPT가 추천한 이름 리스트가 인자로 넘어왔을 경우 처리 */
            <if test="list != null and list.size() > 0">
                AND (
                <foreach item="name" collection="list" separator=" OR ">
                    UPPER(t1.trip_nm) LIKE '%' || UPPER(#{name}) || '%'
                </foreach>
                )
            </if>
            
            /* 결과 내에서 랜덤하게 섞기 (매번 다른 추천 결과를 보여주기 위함) */
            ORDER BY DBMS_RANDOM.VALUE
        )
        /* 최종적으로 화면에는 3개만 노출 */
        WHERE ROWNUM <![CDATA[ <= ]]> 3
    </select>

</mapper>