<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pcwk.ehr.comment.CommentMapper">

    <!-- 댓글 등록 -->
    <insert id="doSave" parameterType="CommentVO">
        <selectKey keyProperty="cmtNo" resultType="int" order="BEFORE">
            SELECT SEQ_CMT_NO.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO cmt (
            CMT_NO,
            CMT_CN,
            CMT_STARNG,
            CMT_CLSF,
            CMT_HIDE_YN,
            TRIP_COURSE_NO,
            REG_NO
        ) VALUES (
            #{cmtNo},
            #{cmtCn},
            #{cmtStarng},
            #{cmtClsf},
            #{cmtHideYn},
            #{tripCourseNo},
            #{regNo}
        )
    </insert>

    <!-- 댓글 수정 -->
    <update id="doUpdate" parameterType="CommentVO">
        UPDATE cmt
        SET
            CMT_CN = #{cmtCn},
            CMT_STARNG = #{cmtStarng},
            CMT_CLSF = #{cmtClsf},
            CMT_HIDE_YN = #{cmtHideYn},
            TRIP_COURSE_NO = #{tripCourseNo},
            CMT_MOD = TO_CHAR(SYSDATE, 'YYYYMMDD'),
            CMT_MOD_HM = TO_CHAR(SYSDATE, 'HH24MI'),
            MOD_NO = #{modNo}
        WHERE CMT_NO = #{cmtNo}
    </update>

    <!-- 댓글 삭제 -->
    <delete id="doDelete" parameterType="CommentVO">
        DELETE FROM cmt
        WHERE CMT_NO = #{cmtNo}
    </delete>

    <!-- 전체 삭제 -->
    <delete id="deleteAll">
        DELETE FROM cmt
    </delete>

    <!-- 건수 조회 -->
    <select id="getCount" resultType="int">
        SELECT COUNT(*) FROM cmt
    </select>

    <!-- 단건 조회 -->
    <select id="doSelectOne" parameterType="CommentVO" resultType="CommentVO">
        SELECT
            CMT_NO,
            CMT_CN,
            CMT_STARNG,
            CMT_CLSF,
            CMT_HIDE_YN,
            TRIP_COURSE_NO,
            CMT_REG,
            CMT_REG_HM,
            CMT_MOD,
            CMT_MOD_HM,
            REG_NO,
            MOD_NO
        FROM cmt
        WHERE CMT_NO = #{cmtNo}
    </select>

    <!-- 목록 조회 -->
    <select id="doRetrieve" parameterType="DTO" resultType="CommentVO">
        SELECT *
        FROM (
            SELECT ROWNUM AS rnum, T1.*
            FROM (
                SELECT
                    CMT_NO,
                    CMT_CN,
                    CMT_STARNG,
                    CMT_CLSF,
                    CMT_HIDE_YN,
                    TRIP_COURSE_NO,
                    CMT_REG,
                    CMT_REG_HM,
                    CMT_MOD,
                    CMT_MOD_HM,
                    REG_NO,
                    MOD_NO
                FROM cmt
                WHERE 1 = 1
                <if test="searchWord != null and searchWord != ''">
                    <choose>
                        <when test="searchDiv == '10'">
                            AND CMT_CN LIKE '%' || #{searchWord} || '%'
                        </when>
                        <when test="searchDiv == '20'">
                            AND TRIP_COURSE_NO = #{searchWord}
                        </when>
                    </choose>
                </if>
                ORDER BY CMT_NO DESC
            ) T1
            <![CDATA[WHERE ROWNUM <= #{pageSize} * (#{pageNo} - 1) + #{pageSize}]]>
        ) TT1
        <![CDATA[WHERE rnum >= #{pageSize} * (#{pageNo} - 1) + 1]]>
    </select>

    <!-- 관리자 용 쿼리 -->
    <!-- 검색기능 -->
    <select id="getSearchCount" parameterType="CommentVO" resultType="int">
        SELECT COUNT(*)
        FROM cmt c
        LEFT JOIN course_trip ct
        ON c.TRIP_COURSE_NO = ct.COURSE_NO
        WHERE 1 = 1
        <if test="searchWord != null and searchWord != ''">
            <choose>
                <when test="searchDiv == '10'">
                    AND c.CMT_CN LIKE '%' || #{searchWord} || '%'
                </when>
                <when test="searchDiv == '20'">
                    AND c.TRIP_COURSE_NO = #{searchWord}
                </when>
                <when test="searchDiv == '40'">
                    AND c.CMT_HIDE_YN = #{searchWord}
                </when>
            </choose>
        </if>
    </select>

    <update id="updateHideYn" parameterType="CommentVO">
        UPDATE cmt
        SET
            CMT_HIDE_YN = #{cmtHideYn},
            CMT_MOD = TO_CHAR(SYSDATE, 'YYYYMMDD'),
            CMT_MOD_HM = TO_CHAR(SYSDATE, 'HH24MI'),
            MOD_NO = #{modNo}
        WHERE CMT_NO = #{cmtNo}
    </update>

    <select id="doAdminRetrieve" parameterType="DTO" resultType="hashmap">
        SELECT *
        FROM (
        SELECT ROWNUM AS rnum, T1.*
        FROM (
        SELECT
        c.CMT_NO         AS "cmtNo",
        c.CMT_CN         AS "cmtCn",
        c.CMT_STARNG     AS "cmtStarng",
        c.CMT_CLSF       AS "cmtClsf",
        c.CMT_HIDE_YN    AS "cmtHideYn",
        c.TRIP_COURSE_NO AS "tripCourseNo",
        c.CMT_REG        AS "cmtReg",
        c.CMT_MOD        AS "cmtMod",
        ct.TRIP_CONTS_ID AS "tripContsId"
        FROM cmt c
        LEFT JOIN course_trip ct
        ON c.TRIP_COURSE_NO = ct.COURSE_NO
        WHERE 1 = 1
        <if test="searchWord != null and searchWord != ''">
            <choose>
                <when test="searchDiv == '10'">
                    AND c.CMT_CN LIKE '%' || #{searchWord} || '%'
                </when>
                <when test="searchDiv == '20'">
                    AND c.TRIP_COURSE_NO = #{searchWord}
                </when>
                <when test="searchDiv == '40'">
                    AND c.CMT_HIDE_YN = #{searchWord}
                </when>
            </choose>
        </if>
        ORDER BY c.CMT_NO DESC
        ) T1
        <![CDATA[WHERE ROWNUM <= #{pageSize} * (#{pageNo} - 1) + #{pageSize}]]>
        )
        <![CDATA[WHERE rnum >= #{pageSize} * (#{pageNo} - 1) + 1]]>
    </select>

    <select id="selectCourseBasic" parameterType="int" resultType="CourseVO">
        SELECT
            COURSE_NO,
            COURSE_NM,
            COURSE_INFO,
            COURSE_PATH_NM,
            COURSE_DSTNC,
            COURSE_REQ_TM
        FROM course
        WHERE COURSE_NO = #{courseNo}
    </select>

    <select id="selectCourseItems" parameterType="int" resultType="CourseTripVO">
        SELECT
            ct.CT_NO,
            ct.COURSE_NO,
            ct.TRIP_CONTS_ID,
            t.TRIP_NM,
            t.TRIP_ADDR,
            t.TRIP_PATH_NM
        FROM course_trip ct
                 JOIN trip t
                      ON ct.TRIP_CONTS_ID = t.TRIP_CONTS_ID
        WHERE ct.COURSE_NO = #{courseNo}
        ORDER BY ct.CT_NO ASC
    </select>

</mapper>
