<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pcwk.ehr.hospital.HospitalMapper">

    <!-- 병원 등록 -->
    <insert id="doSave" parameterType="com.pcwk.ehr.hospital.HospitalVO">
        INSERT INTO hospital (
            hp_no,
            hp_nm,
            hp_addr,
            hp_emrm_yn,
            hp_telno1,
            hp_telno2,
            hp_lat,
            hp_lot,
            hp_op_tm,
            hp_end_tm,
            hp_wknd_open_yn
        ) VALUES (
            #{hpNo},
            #{hpNm},
            #{hpAddr},
            #{hpEmrmYn},
            #{hpTelno1},
            #{hpTelno2},
            #{hpLat},
            #{hpLot},
            #{hpOpTm},
            #{hpEndTm},
            #{hpWkndOpenYn}
        )
    </insert>

    <!-- 병원 삭제 -->
    <delete id="doDelete" parameterType="com.pcwk.ehr.hospital.HospitalVO">
        DELETE FROM hospital
        WHERE hp_no = #{hpNo}
    </delete>

    <!-- 전체 삭제 -->
    <delete id="deleteAll">
        DELETE FROM hospital
    </delete>

    <!-- 건수 조회 -->
    <select id="getCount" resultType="int">
        SELECT COUNT(*) FROM hospital
    </select>

    <select id="doSelectOne" parameterType="com.pcwk.ehr.hospital.HospitalVO" resultType="com.pcwk.ehr.hospital.HospitalVO">
        SELECT
            hp_no,
            hp_nm,
            hp_addr,
            hp_emrm_yn,
            hp_telno1,
            hp_telno2,
            hp_lat,
            hp_lot,
            hp_op_tm,
            hp_end_tm,
            hp_wknd_open_yn
        FROM hospital
        WHERE hp_no = #{hpNo}
    </select>

</mapper>
