<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.mypage.MyPageMapper">

    <insert id="doSave" parameterType="UserVO">
        INSERT INTO ss_user (
            USER_NO, USER_NICK, USER_EML_ADDR, USER_ENPSWD, USER_NM,
            USER_BRDT, USER_TELNO, USER_GNDR, USER_MNGR_YN, USER_REG,
            USER_REG_HM, USER_DEL_YN, USER_DRM_YN, USER_TAG, USER_ZIP,
            USER_ADDR, USER_DADDR
        ) VALUES (
            USER_NO_SEQ.NEXTVAL, #{userNick}, #{userEmlAddr}, #{userEnpswd}, #{userNm},
            #{userBrdt}, #{userTelno}, #{userGndr}, 'N',
            TO_CHAR(SYSDATE, 'YYYYMMDD'), TO_CHAR(SYSDATE, 'HH24MI'),
            'N', 'N', #{userTag}, #{userZip}, #{userAddr}, #{userDaddr}
        )
    </insert>

    <delete id="doDelete" parameterType="UserVO">
        DELETE FROM ss_user WHERE USER_NO = #{userNo}
    </delete>

    <select id="doSelectOne" parameterType="UserVO" resultType="UserVO">
        SELECT USER_NO,
               USER_NICK, 
               USER_EML_ADDR, 
               USER_NM, 
               USER_ENPSWD,
               USER_TELNO, 
               USER_TAG, 
               USER_ZIP, 
               USER_ADDR, 
               USER_DADDR
          FROM ss_user
         WHERE USER_NO = #{userNo}
    </select>

    <select id="nickCheck" parameterType="String" resultType="int">
    SELECT COUNT(*)
    FROM ss_user
    WHERE user_nick = #{userNick}
    </select>

    <update id="doUpdateNick" parameterType="UserVO">
        UPDATE ss_user SET USER_NICK = #{userNick} WHERE USER_NO = #{userNo}
    </update>

    <update id="doUpdateTag" parameterType="UserVO">
        UPDATE ss_user SET USER_TAG = #{userTag} WHERE USER_NO = #{userNo}
    </update>

    <update id="doUpdateAddr" parameterType="UserVO">
        UPDATE ss_user 
           SET USER_ZIP = #{userZip}, USER_ADDR = #{userAddr}, USER_DADDR = #{userDaddr}
         WHERE USER_NO = #{userNo}
    </update>

    <update id="doUpdatePw" parameterType="UserVO">
        UPDATE ss_user SET USER_ENPSWD = #{userEnpswd} WHERE USER_NO = #{userNo}
    </update>

    <select id="getRelationList" resultType="TripVO">
        SELECT r.TRIP_CONTS_ID,
               t.TRIP_NM, 
               t.TRIP_ADDR, 
               t.TRIP_PATH_NM
          FROM relation r
          JOIN trip t ON r.TRIP_CONTS_ID = t.TRIP_CONTS_ID
         WHERE r.USER_NO = #{userNo}
           AND r.REL_CLSF = #{relClsf}
    </select>

    <!-- userNo 받고, relClsf 받은 다음 여행지 아이디 null 아닌 값만 select 후 카운트-->
    <select id="getRelationCount" resultType="int">
        SELECT COUNT(*)
          FROM relation
         WHERE USER_NO = #{userNo}
           AND REL_CLSF = #{relClsf}
           AND TRIP_CONTS_ID IS NOT NULL
    </select>

    <delete id="deleteRelation">
        DELETE FROM relation
         WHERE USER_NO = #{userNo}
           AND REL_CLSF = #{relClsf}
        <if test="tripContsId != null and tripContsId != 0">
           AND TRIP_CONTS_ID = #{tripContsId}
        </if>
    </delete>

</mapper>