<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.notice.NoticeMapper">

    <resultMap id="noticeResultMap" type="com.pcwk.ehr.domain.NoticeVO">
        <id property="ntcNo" column="ntc_no"/>
        <result property="ntcTtl" column="ntc_ttl"/>
        <result property="ntcCn" column="ntc_cn"/>
        <result property="ntcReg" column="ntc_reg"/>
        <result property="ntcRegHm" column="ntc_reg_hm"/>
        <result property="ntcMod" column="ntc_mod"/>
        <result property="ntcModHm" column="ntc_mod_hm"/>
        <result property="regNo" column="reg_no"/>
        <result property="modNo" column="mod_no"/>
    </resultMap>

    <select id="doRetrieve" parameterType="com.pcwk.ehr.domain.NoticeVO" resultMap="noticeResultMap">
        SELECT *
        FROM (
        SELECT TT1.ntc_no,
        TT1.ntc_ttl,
        TT1.ntc_cn,
        TT1.ntc_reg,
        TT1.ntc_reg_hm,
        TT1.ntc_mod,
        TT1.ntc_mod_hm,
        TT1.reg_no,
        TT1.mod_no,
        ROW_NUMBER() OVER (ORDER BY TT1.ntc_no DESC) AS rnum,
        COUNT(*) OVER() AS total_count
        FROM NOTICE TT1
        WHERE 1=1
        <if test="searchWord != null and searchWord != ''">
            AND ntc_ttl LIKE '%' || #{searchWord} || '%'
        </if>
        ) A
        WHERE A.rnum BETWEEN (#{pageSize} * (#{pageNo} - 1) + 1) AND (#{pageSize} * #{pageNo})
    </select>

    <insert id="doSave" parameterType="com.pcwk.ehr.domain.NoticeVO">
        <selectKey keyProperty="ntcNo" resultType="int" order="BEFORE">
            SELECT NOTICE_SEQ.NEXTVAL AS ntcNo FROM DUAL
        </selectKey>
        INSERT INTO notice (
        ntc_no,
        ntc_ttl,
        ntc_cn,
        ntc_reg,
        ntc_reg_hm,
        ntc_mod,
        ntc_mod_hm,
        reg_no,
        mod_no
        ) VALUES (
        #{ntcNo},
        #{ntcTtl},
        #{ntcCn},
        TO_CHAR(SYSDATE, 'YYYYMMDD'),
        TO_CHAR(SYSDATE, 'HH24MI'),
        TO_CHAR(SYSDATE, 'YYYYMMDD'),
        TO_CHAR(SYSDATE, 'HH24MI'),
        #{regNo},
        #{modNo}
        )
    </insert>

    <select id="doSelectOne" parameterType="com.pcwk.ehr.domain.NoticeVO" resultMap="noticeResultMap">
        SELECT ntc_no,
               ntc_ttl,
               ntc_cn,
               ntc_reg,
               ntc_reg_hm,
               ntc_mod,
               ntc_mod_hm,
               reg_no,
               mod_no
        FROM NOTICE
        WHERE ntc_no = #{ntcNo}
    </select>

    <update id="doUpdate" parameterType="com.pcwk.ehr.domain.NoticeVO">
        UPDATE NOTICE
        SET ntc_ttl    = #{ntcTtl},
            ntc_cn     = #{ntcCn},
            ntc_mod    = TO_CHAR(SYSDATE, 'YYYYMMDD'),
            ntc_mod_hm = TO_CHAR(SYSDATE, 'HH24MI'),
            mod_no     = #{modNo}
        WHERE ntc_no = #{ntcNo}
    </update>

    <delete id="doDelete" parameterType="com.pcwk.ehr.domain.NoticeVO">
        DELETE
        FROM NOTICE
        WHERE ntc_no = #{ntcNo}
    </delete>

    <delete id="deleteAll">
        DELETE
        FROM NOTICE
    </delete>

    <select id="getAll" resultMap="noticeResultMap">
        SELECT ntc_no,
               ntc_ttl,
               ntc_cn,
               ntc_reg,
               ntc_reg_hm,
               ntc_mod,
               ntc_mod_hm,
               reg_no,
               mod_no
        FROM NOTICE
        ORDER BY ntc_no DESC
    </select>

    <select id="getCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM NOTICE
    </select>

    <insert id="saveAll" parameterType="java.util.Map">
        INSERT INTO NOTICE (ntc_no,
                            ntc_ttl,
                            ntc_cn,
                            ntc_reg,
                            ntc_reg_hm,
                            ntc_mod,
                            ntc_mod_hm,
                            reg_no,
                            mod_no)
        SELECT NOTICE_SEQ.NEXTVAL,
               '공지사항 제목' || LEVEL,
               '공지사항 내용' || LEVEL,
               TO_CHAR(SYSDATE - LEVEL, 'YYYYMMDD'),
               TO_CHAR(SYSDATE, 'HH24MI'),
               TO_CHAR(SYSDATE - LEVEL, 'YYYYMMDD'),
               TO_CHAR(SYSDATE, 'HH24MI'),
               #{regNo},
               #{modNo}
        FROM dual
        <![CDATA[
            CONNECT BY LEVEL <= #{saveNoticeDataCount}
        ]]>
    </insert>

</mapper>