<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pcwk.ehr.report.ReportMapper">

    <!-- 신고 등록 -->
    <insert id="doSave" parameterType="ReportVO">
        <selectKey keyProperty="repNo" resultType="int" order="BEFORE">
            SELECT SEQ_REP_NO.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO report (
            REP_NO,
            REP_CN,
            REP_CLSF,
            CMT_NO,
            REG_NO
        ) VALUES (
            #{repNo},
            #{repCn},
            #{repClsf},
            #{cmtNo},
            #{regNo}
        )
    </insert>

    <!-- 신고 수정 (처리) -->
    <update id="doUpdate" parameterType="ReportVO">
        UPDATE report
        SET
            REP_PROC_DT = TO_CHAR(SYSDATE, 'YYYYMMDD'),
            REP_PROC_HM = TO_CHAR(SYSDATE, 'HH24MI'),
            REP_STAT_YN = #{repStatYn}
        WHERE REP_NO = #{repNo}
    </update>

    <!-- 신고 삭제 -->
    <delete id="doDelete" parameterType="ReportVO">
        DELETE FROM report
        WHERE REP_NO = #{repNo}
    </delete>

    <!-- 전체 삭제 -->
    <delete id="deleteAll">
        DELETE FROM report
    </delete>

    <!-- 건수 조회 -->
    <select id="getCount" resultType="int">
        SELECT COUNT(*) FROM report
    </select>

    <!-- 단건 조회 -->
    <select id="doSelectOne" parameterType="ReportVO" resultType="ReportVO">
        SELECT
            REP_NO,
            REP_CN,
            REP_CLSF,
            CMT_NO,
            REP_REG,
            REP_REG_HM,
            REG_NO,
            REP_PROC_DT,
            REP_PROC_HM,
            REP_STAT_YN
        FROM report
        WHERE REP_NO = #{repNo}
    </select>

    <!-- 목록 조회 -->
    <select id="doRetrieve" parameterType="DTO" resultType="ReportVO">
        SELECT *
        FROM (
            SELECT ROWNUM AS rnum, T1.*
            FROM (
                SELECT
                    REP_NO,
                    REP_CN,
                    REP_CLSF,
                    CMT_NO,
                    REP_REG,
                    REP_REG_HM,
                    REG_NO,
                    REP_PROC_DT,
                    REP_PROC_HM,
                    REP_STAT_YN
                FROM report
                WHERE 1 = 1
                <if test="searchWord != null and searchWord != ''">
                    <choose>
                        <when test="searchDiv == '10'">
                            AND REP_CN LIKE '%' || #{searchWord} || '%'
                        </when>
                        <when test="searchDiv == '20'">
                            AND REP_STAT_YN = #{searchWord}
                        </when>
                    </choose>
                </if>
                ORDER BY REP_NO DESC
            ) T1
            <![CDATA[WHERE ROWNUM <= #{pageSize} * (#{pageNo} - 1) + #{pageSize}]]>
        ) TT1
        <![CDATA[WHERE rnum >= #{pageSize} * (#{pageNo} - 1) + 1]]>
    </select>

    <!-- 댓글별 신고 삭제 -->
    <delete id="deleteByCmtNo" parameterType="int">
        DELETE FROM report
        WHERE CMT_NO = #{cmtNo}
    </delete>

    <!-- 관리자용 -->

    <select id="getReportStats" resultType="map">
        SELECT
            COUNT(CASE WHEN REP_STAT_YN = 'N' THEN 1 END) as "pendingCount",
            COUNT(CASE WHEN REP_REG = TO_CHAR(SYSDATE, 'YYYYMMDD') THEN 1 END) as "todayCount",
            COUNT(CASE WHEN REP_STAT_YN = 'Y'
                AND REP_PROC_DT >= TO_CHAR(TRUNC(SYSDATE, 'IW'), 'YYYYMMDD') THEN 1 END) as "weekSuccessCount"
        FROM report
    </select>

    <select id="RpdoSelectAdmin" parameterType="ReportVO" resultType="map" >
        SELECT
            r.REP_NO      AS "repNo",
            r.REP_CN      AS "repCn",
            r.REP_CLSF    AS "repClsf",
            r.REP_STAT_YN  AS "repStatYn",
            r.REP_REG     AS "repReg",
            c.CMT_CN      AS "cmtCn",
            c.CMT_NO      AS "cmtNo"
        FROM report r
                 LEFT JOIN cmt c ON r.CMT_NO = c.CMT_NO
        WHERE r.REP_NO = #{repNo}
    </select>

    <select id="doSelectAdminList" parameterType="ReportVO" resultType="map">
        SELECT * FROM (
        SELECT ROWNUM AS rnum, A.* FROM (
        SELECT
        r.REP_NO    AS "repNo",
        r.REP_CN    AS "repCn",
        r.REP_CLSF  AS "repClsf",
        r.REP_STAT_YN AS "repStatYn",
        r.REP_REG   AS "repReg",
        c.CMT_CN    AS "cmtCn",
        c.CMT_NO    AS "cmtNo",
        r.REG_NO    AS "regNo"
        FROM report r
        LEFT JOIN cmt c ON r.CMT_NO = c.CMT_NO
        WHERE 1=1
        <if test="repStatYn != null and repStatYn != ''">
            AND r.REP_STAT_YN = #{repStatYn}
        </if>
        <if test="repClsf != null and repClsf != ''">
            AND r.REP_CLSF = #{repClsf}
        </if>
        ORDER BY r.REP_NO DESC
        ) A
        <![CDATA[ WHERE ROWNUM <= #{pageSize} * #{pageNo} ]]>
        )
        <![CDATA[ WHERE rnum >= #{pageSize} * (#{pageNo} - 1) + 1 ]]>
    </select>

    <update id="RpdoUpdateAdmin" parameterType="ReportVO">
        UPDATE report
        SET
            REP_STAT_YN = 'Y',
            REP_PROC_DT = TO_CHAR(SYSDATE, 'YYYYMMDD'),
            REP_PROC_HM = TO_CHAR(SYSDATE, 'HH24MI')
        WHERE REP_NO = #{repNo}
    </update>

    <select id="getAdminReportCount" parameterType="ReportVO" resultType="int">
        SELECT COUNT(*)
        FROM report r
        WHERE 1=1
        <if test="repStatYn != null and repStatYn != '' and repStatYn != 'all'">
            AND r.REP_STAT_YN = #{repStatYn}
        </if>
        <if test="repClsf != null and repClsf > 0">
            AND r.REP_CLSF = #{repClsf}
        </if>
    </select>

</mapper>
