<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.thema.ThemaMapper">

    <select id="doRetrieve" parameterType="com.pcwk.ehr.domain.TripVO" resultType="com.pcwk.ehr.domain.TripVO">
        SELECT * FROM (
            SELECT 
                TT1.*,
                ROWNUM AS rnum
            FROM (
                SELECT 
                    t1.trip_conts_id AS tripContsId,
                    t1.trip_nm       AS tripNm,
                    COALESCE(t1.trip_path_nm, t2.file_path_nm) AS tripPathNm, 
                    t1.trip_addr     AS tripAddr,
                    t1.trip_tag      AS tripTag,
                    t1.trip_inq_cnt  AS tripInqCnt, 
                    COUNT(*) OVER()  AS totalCnt
                FROM TRIP t1
                LEFT OUTER JOIN (
                    SELECT board_id, MAX(file_path_nm) as file_path_nm 
                    FROM ATTACH_FILE 
                    GROUP BY board_id
                ) t2 ON t1.trip_conts_id = t2.board_id
                WHERE 1=1
                
                <if test="searchWord != null and searchWord != '' and searchWord != 'hits' and searchWord != 'default'">
                    AND (UPPER(t1.TRIP_NM) LIKE '%' || UPPER(#{searchWord}) || '%' 
                         OR UPPER(t1.TRIP_ADDR) LIKE '%' || UPPER(#{searchWord}) || '%')
                </if>
                
                <if test="tripTag != null and tripTag != '0'.toString() and tripTag != ''">
                    AND (
                    <choose>
                        <when test='tripTag.contains(",")'>
                            <foreach collection="tripTag.split(',')" item="tag" separator=" OR ">
                                UPPER(t1.TRIP_TAG) LIKE '%' || UPPER(TRIM(#{tag})) || '%'
                            </foreach>
                        </when>
                        <otherwise>
                            UPPER(t1.TRIP_TAG) LIKE '%' || UPPER(TRIM(#{tripTag})) || '%'
                        </otherwise>
                    </choose>
                    )
                </if>
                
                ORDER BY 
                <choose>
                    <when test="searchWord == 'hits'">
                        t1.TRIP_INQ_CNT DESC, t1.TRIP_CONTS_ID DESC
                    </when>
                    <otherwise>
                        t1.TRIP_CONTS_ID DESC
                    </otherwise>
                </choose>
            ) TT1
            WHERE ROWNUM <![CDATA[ <= ]]> #{pageSize} * (#{pageNo} - 1) + #{pageSize}
        )
        WHERE rnum <![CDATA[ >= ]]> #{pageSize} * (#{pageNo} - 1) + 1
    </select>

</mapper>