<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.thema.ThemaMapper">

    <select id="doRetrieve" parameterType="com.pcwk.ehr.domain.TripVO" resultType="com.pcwk.ehr.domain.TripVO">
        SELECT * FROM (
            SELECT 
                TT1.*,
                ROWNUM AS rnum
            FROM (
                SELECT 
                    t1.trip_conts_id AS tripContsId,
                    t1.trip_nm       AS tripNm,
                    COALESCE(t1.trip_path_nm, t2.file_path_nm) AS tripPathNm, 
                    t1.trip_addr     AS tripAddr,
                    t1.trip_tag      AS tripTag,
                    COUNT(*) OVER()  AS totalCnt,
                    (SELECT COUNT(*) 
                     FROM relation r 
                     WHERE r.trip_conts_id = t1.trip_conts_id 
                     AND r.user_no = #{tripInqCnt} AND r.rel_clsf = 10) AS tripInqCnt
                FROM TRIP t1
                LEFT OUTER JOIN (
                    SELECT board_id, MAX(file_path_nm) as file_path_nm 
                    FROM ATTACH_FILE 
                    GROUP BY board_id
                ) t2 ON t1.trip_conts_id = t2.board_id
                WHERE 1=1
                AND (t1.trip_path_nm IS NOT NULL OR t2.file_path_nm IS NOT NULL)
                
                <if test="searchWord != null and searchWord != '' and searchWord != 'hits' and searchWord != 'default'">
                    AND (UPPER(t1.TRIP_NM) LIKE '%' || UPPER(#{searchWord}) || '%' 
                        OR UPPER(t1.TRIP_ADDR) LIKE '%' || UPPER(#{searchWord}) || '%')
                </if>
                
                <if test="tripTag != null and tripTag != '0'.toString() and tripTag != ''">
                    AND (
                    <choose>
                        <when test='tripTag.contains(",")'>
                            <foreach collection="tripTag.split(',')" item="tag" separator=" OR ">
                                UPPER(t1.TRIP_TAG) LIKE '%' || UPPER(TRIM(#{tag})) || '%'
                            </foreach>
                        </when>
                        <otherwise>
                            UPPER(t1.TRIP_TAG) LIKE '%' || UPPER(TRIM(#{tripTag})) || '%'
                        </otherwise>
                    </choose>
                    )
                </if>
                
                ORDER BY 
                <choose>
                    <when test="searchWord == 'hits'">
                        t1.TRIP_INQ_CNT DESC, t1.TRIP_CONTS_ID DESC
                    </when>
                    <otherwise>
                        t1.TRIP_CONTS_ID DESC
                    </otherwise>
                </choose>
            ) TT1
            WHERE ROWNUM <![CDATA[ <= ]]> (#{pageNo} * #{pageSize})
        )
        WHERE rnum <![CDATA[ >= ]]> ((#{pageNo} - 1) * #{pageSize} + 1)
    </select>

    <insert id="doSaveWish" parameterType="map">
        INSERT INTO relation (
            REL_NO,
            REL_CLSF,
            USER_NO,
            TRIP_CONTS_ID
            ) VALUES (
            SEQ_REL_NO.NEXTVAL,
            #{relClsf},
            #{userNo},
            #{tripContsId}
        )
    </insert>

    <delete id="doDeleteWish" parameterType="map">
        DELETE FROM relation
        WHERE USER_NO = #{userNo}
        AND TRIP_CONTS_ID = #{tripContsId}
        AND REL_CLSF = #{relClsf}
    </delete>

</mapper>