<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.trip.TripMapper">
    
    
    
    <select id="getDistinctTags" resultType="String">
    SELECT DISTINCT 
        CASE 
            WHEN TRIP_TAG = 'A01010400' THEN '산'
            WHEN TRIP_TAG = 'A01010800' THEN '폭포'
            WHEN TRIP_TAG = 'A01010900' THEN '계곡'
            WHEN TRIP_TAG IN ('A01011200', 'A01011400', 'A01011600') THEN '바다'
            WHEN TRIP_TAG = 'A01011700' THEN '호수'
            WHEN TRIP_TAG = 'A01011800' THEN '강'
            WHEN TRIP_TAG = 'A01011900' THEN '동굴'
            WHEN TRIP_TAG IN ('A02010100', 'A02010200', 'A02010300', 'A02010600', 'A02010700') THEN '역사 관광지'
            WHEN TRIP_TAG = 'A02010800' THEN '사찰'
            WHEN TRIP_TAG = 'A02020300' THEN '온천/욕장/스파'
            WHEN TRIP_TAG = 'A02020600' THEN '테마공원'
            WHEN TRIP_TAG IN ('A02030100', 'A02030200', 'A02030300') THEN '체험'
            WHEN TRIP_TAG = 'A02050200' THEN '기념/전망'
            WHEN TRIP_TAG IN ('A02060100', 'A02060200', 'A02060300', 'A02060500', 'A02061200') THEN '문화시설'
            WHEN TRIP_TAG LIKE 'A03%' THEN '레포츠'
            ELSE '기타'
        END AS tripTagNm
    FROM TRIP 
    WHERE TRIP_TAG IS NOT NULL
    ORDER BY tripTagNm ASC
    </select>

   <update id="updateReadCnt" parameterType="TripVO">
    UPDATE TRIP
       SET TRIP_INQ_CNT = NVL(TRIP_INQ_CNT,0)+1
     WHERE TRIP_CONTS_ID = #{tripContsId}
   </update>


    <insert id="doSave" parameterType="TripVO">
        INSERT INTO TRIP (
            TRIP_CONTS_ID, 
            TRIP_NM, 
            TRIP_PATH_NM, 
            TRIP_ADDR,
            TRIP_LAT, 
            TRIP_LOT, 
            TRIP_TAG, 
            TRIP_CLSF,
            TRIP_CTPV, 
            TRIP_GUNGU, 
            TRIP_INQ_CNT
        ) VALUES (
            #{tripContsId}, 
            #{tripNm}, 
            #{tripPathNm}, 
            #{tripAddr},
            #{tripLat}, 
            #{tripLot}, 
            #{tripTag}, 
            #{tripClsf},
            #{tripCtpv}, 
            #{tripGungu}, 
            #{tripInqCnt}
        )
    </insert>

    <delete id="doDelete" parameterType="TripVO">
        DELETE FROM TRIP 
        WHERE TRIP_CONTS_ID = #{tripContsId}
    </delete>

<select id="doSelectOne" parameterType="TripVO" resultType="TripVO">
    SELECT
        T.TRIP_CONTS_ID, 
        T.TRIP_NM, 
        /* TRIP_PATH_NM이 NULL이면 첨부파일의 경로를 사용 */
        NVL(T.TRIP_PATH_NM, AF.FILE_PATH_NM) AS TRIP_PATH_NM, 
        T.TRIP_ADDR,
        T.TRIP_LAT, 
        T.TRIP_LOT, 
        T.TRIP_TAG, 
        T.TRIP_CLSF,
        T.TRIP_CTPV, 
        T.TRIP_GUNGU, 
        T.TRIP_INQ_CNT,
        CASE 
            WHEN T.TRIP_TAG = 'A01010400' THEN '산'
            WHEN T.TRIP_TAG = 'A01010800' THEN '폭포'
            WHEN T.TRIP_TAG = 'A01010900' THEN '계곡'
            WHEN T.TRIP_TAG IN ('A01011200', 'A01011400', 'A01011600') THEN '바다'
            WHEN T.TRIP_TAG = 'A01011700' THEN '호수'
            WHEN T.TRIP_TAG = 'A01011800' THEN '강'
            WHEN T.TRIP_TAG = 'A01011900' THEN '동굴'
            WHEN T.TRIP_TAG IN ('A02010100', 'A02010200', 'A02010300', 'A02010600', 'A02010700') THEN '역사 관광지'
            WHEN T.TRIP_TAG = 'A02010800' THEN '사찰'
            WHEN T.TRIP_TAG = 'A02020300' THEN '온천/욕장/스파'
            WHEN T.TRIP_TAG = 'A02020600' THEN '테마공원'
            WHEN T.TRIP_TAG IN ('A02030100', 'A02030200', 'A02030300') THEN '체험'
            WHEN T.TRIP_TAG = 'A02050200' THEN '기념/전망'
            WHEN T.TRIP_TAG IN ('A02060100', 'A02060200', 'A02060300', 'A02060500', 'A02061200') THEN '문화시설'
            WHEN T.TRIP_TAG LIKE 'A03%' THEN '레포츠'
            ELSE '기타'
        END AS tripTagNm
    FROM TRIP T
    LEFT OUTER JOIN (
        /* board_id별로 가장 첫 번째 파일(rn=1)만 미리 추출 */
        SELECT board_id, file_path_nm
        FROM (
            SELECT 
                board_id, 
                file_path_nm,
                ROW_NUMBER() OVER(PARTITION BY board_id ORDER BY BOARD_ID ASC) as rn
            FROM ATTACH_FILE
            WHERE board_clsf = 'trip'  /* 게시판 구분값 확인 필요 */
        )
        WHERE rn = 1
    ) AF ON T.TRIP_CONTS_ID = AF.board_id
    WHERE T.TRIP_CONTS_ID = #{tripContsId}
</select>

    <select id="getCount" resultType="int">
        SELECT COUNT(*) FROM trip
    </select>


<select id="doRetrieve" parameterType="TripVO" resultType="TripVO">
    SELECT A.*, B.TOTAL_CNT AS totalCnt
    FROM (
        SELECT TT1.*
        FROM (
            SELECT ROWNUM AS RNUM, T1.*
            FROM (
                SELECT 
                    T.*,
                    /* [수정] 기존 경로가 없으면 첨부파일 테이블의 경로를 사용 */
                    COALESCE(T.TRIP_PATH_NM, AF.FILE_PATH_NM) AS tripPathNm,
                    /* [출력 매핑] DB의 코드를 화면에 표시할 한글명으로 변환 */
                    CASE 
                        WHEN TRIP_TAG = 'A01010400' THEN '산'
                        WHEN TRIP_TAG = 'A01010800' THEN '폭포'
                        WHEN TRIP_TAG = 'A01010900' THEN '계곡'
                        WHEN TRIP_TAG IN ('A01011200', 'A01011400', 'A01011600') THEN '바다'
                        WHEN TRIP_TAG = 'A01011700' THEN '호수'
                        WHEN TRIP_TAG = 'A01011800' THEN '강'
                        WHEN TRIP_TAG = 'A01011900' THEN '동굴'
                        WHEN TRIP_TAG IN ('A02010100', 'A02010200', 'A02010300', 'A02010600', 'A02010700') THEN '역사 관광지'
                        WHEN TRIP_TAG = 'A02010800' THEN '사찰'
                        WHEN TRIP_TAG = 'A02020300' THEN '온천/욕장/스파'
                        WHEN TRIP_TAG = 'A02020600' THEN '테마공원'
                        WHEN TRIP_TAG IN ('A02030100', 'A02030200', 'A02030300') THEN '체험'
                        WHEN TRIP_TAG = 'A02050200' THEN '기념/전망'
                        WHEN TRIP_TAG IN ('A02060100', 'A02060200', 'A02060300', 'A02060500', 'A02061200') THEN '문화시설'
                        WHEN TRIP_TAG LIKE 'A03%' THEN '레포츠'
                        ELSE '기타' 
                    END AS tripTagNm
                FROM TRIP T
                LEFT OUTER JOIN (
                SELECT board_id, file_path_nm
                  FROM (
                        SELECT 
                                board_id, 
                                file_path_nm,
                                ROW_NUMBER() OVER(PARTITION BY board_id ORDER BY ROWID ASC) as rn
                          FROM ATTACH_FILE
                         WHERE board_clsf = 'trip'
                          )
                    WHERE rn = 1 /* 각 게시물당 1번 파일만 선택 */
                        ) AF ON T.TRIP_CONTS_ID = AF.board_id
                    WHERE 1=1
                <if test="searchWord != null and searchWord != ''">
                    AND (T.TRIP_NM LIKE '%' || #{searchWord} || '%')
                </if>
                
                <if test="tripTag != null and tripTag != ''">
                    <choose>
                        <when test='tripTag == "산"'> AND TRIP_TAG = 'A01010400' </when>
                        <when test='tripTag == "폭포"'> AND TRIP_TAG = 'A01010800' </when>
                        <when test='tripTag == "계곡"'> AND TRIP_TAG = 'A01010900' </when>
                        <when test='tripTag == "바다"'> AND TRIP_TAG IN ('A01011200', 'A01011400', 'A01011600') </when>
                        <when test='tripTag == "호수"'> AND TRIP_TAG = 'A01011700' </when>
                        <when test='tripTag == "강"'> AND TRIP_TAG = 'A01011800' </when>
                        <when test='tripTag == "동굴"'> AND TRIP_TAG = 'A01011900' </when>
                        <when test='tripTag == "역사 관광지" or tripTag == "역사관광지"'> 
                            AND TRIP_TAG IN ('A02010100', 'A02010200', 'A02010300', 'A02010600', 'A02010700') 
                        </when>
                        <when test='tripTag == "사찰"'> AND TRIP_TAG = 'A02010800' </when>
                        <when test='tripTag == "온천/욕장/스파"'> AND TRIP_TAG = 'A02020300' </when>
                        <when test='tripTag == "테마공원"'> AND TRIP_TAG = 'A02020600' </when>
                        <when test='tripTag == "체험"'> AND TRIP_TAG IN ('A02030100', 'A02030200', 'A02030300') </when>
                        <when test='tripTag == "기념/전망"'> AND TRIP_TAG = 'A02050200' </when>
                        <when test='tripTag == "문화시설"'> AND TRIP_TAG IN ('A02060100', 'A02060200', 'A02060300', 'A02060500', 'A02061200') </when>
                        <when test='tripTag == "레포츠"'> AND TRIP_TAG LIKE 'A03%' </when>
                        <when test='tripTag == "기타"'>
                            AND TRIP_TAG NOT LIKE 'A01%' 
                            AND TRIP_TAG NOT LIKE 'A02%' 
                            AND TRIP_TAG NOT LIKE 'A03%'
                        </when>
                        <otherwise> AND TRIP_TAG = #{tripTag} </otherwise>
                    </choose>
                </if>

                <if test="tripCtpv != 0"> AND TRIP_CTPV = #{tripCtpv} </if>
                <if test="tripGungu != 0"> AND TRIP_GUNGU = #{tripGungu} </if>
                
                <choose>
                    <when test="orderType == 'pop'"> ORDER BY TRIP_INQ_CNT DESC </when>
                    <otherwise> ORDER BY TRIP_CONTS_ID DESC </otherwise>
                </choose>
            ) T1  
            <![CDATA[ WHERE ROWNUM <= #{pageSize} * (#{pageNo} - 1) + #{pageSize} ]]>
        ) TT1
        <![CDATA[ WHERE RNUM >= #{pageSize} * (#{pageNo} - 1) + 1 ]]>
    ) A CROSS JOIN (
        SELECT COUNT(*) TOTAL_CNT
        FROM TRIP
        WHERE 1=1
        <if test="searchWord != null and searchWord != ''">
            AND (TRIP_NM LIKE '%' || #{searchWord} || '%')
        </if>
        /* [중요] 아래 카테고리 검색 조건들은 상단과 동일하게 유지해야 카운트가 정확합니다 */
        <if test="tripTag != null and tripTag != ''">
            <choose>
                <when test='tripTag == "산"'> AND TRIP_TAG = 'A01010400' </when>
                <when test='tripTag == "폭포"'> AND TRIP_TAG = 'A01010800' </when>
                <when test='tripTag == "계곡"'> AND TRIP_TAG = 'A01010900' </when>
                <when test='tripTag == "바다"'> AND TRIP_TAG IN ('A01011200', 'A01011400', 'A01011600') </when>
                <when test='tripTag == "호수"'> AND TRIP_TAG = 'A01011700' </when>
                <when test='tripTag == "강"'> AND TRIP_TAG = 'A01011800' </when>
                <when test='tripTag == "동굴"'> AND TRIP_TAG = 'A01011900' </when>
                <when test='tripTag == "역사 관광지" or tripTag == "역사관광지"'> 
                    AND TRIP_TAG IN ('A02010100', 'A02010200', 'A02010300', 'A02010600', 'A02010700') 
                </when>
                <when test='tripTag == "사찰"'> AND TRIP_TAG = 'A02010800' </when>
                <when test='tripTag == "온천/욕장/스파"'> AND TRIP_TAG = 'A02020300' </when>
                <when test='tripTag == "테마공원"'> AND TRIP_TAG = 'A02020600' </when>
                <when test='tripTag == "체험"'> AND TRIP_TAG IN ('A02030100', 'A02030200', 'A02030300') </when>
                <when test='tripTag == "기념/전망"'> AND TRIP_TAG = 'A02050200' </when>
                <when test='tripTag == "문화시설"'> AND TRIP_TAG IN ('A02060100', 'A02060200', 'A02060300', 'A02060500', 'A02061200') </when>
                <when test='tripTag == "레포츠"'> AND TRIP_TAG LIKE 'A03%' </when>
                <when test='tripTag == "기타"'>
                    AND TRIP_TAG NOT LIKE 'A01%' AND TRIP_TAG NOT LIKE 'A02%' AND TRIP_TAG NOT LIKE 'A03%'
                </when>
                <otherwise> AND TRIP_TAG = #{tripTag} </otherwise>
            </choose>
        </if>
        <if test="tripCtpv != 0"> AND TRIP_CTPV = #{tripCtpv} </if>
        <if test="tripGungu != 0"> AND TRIP_GUNGU = #{tripGungu} </if>
    ) B    
</select>

     <!--인기관광지 -->
    <select id="popularTop3" resultType="TripVO">
        SELECT *
        FROM (
                 SELECT
                     TRIP_CONTS_ID,
                     TRIP_NM,
                     TRIP_PATH_NM,
                     TRIP_ADDR,
                     TRIP_INQ_CNT
                 FROM TRIP
                 ORDER BY TRIP_INQ_CNT DESC
             )
    <![CDATA[ WHERE ROWNUM <= 3 ]]>
    </select>

    <!-- 지역별 관광지 랜덤 추천 -->
    <select id="randomRegion" resultType="TripVO">
        SELECT *
        FROM (
                 SELECT
                     TRIP_CONTS_ID,
                     TRIP_NM,
                     TRIP_PATH_NM,
                     TRIP_ADDR,
                     TRIP_TAG,
                     TRIP_CTPV,
                     ROW_NUMBER() OVER (PARTITION BY TRIP_CTPV ORDER BY DBMS_RANDOM.VALUE) as rn
                 FROM TRIP
                 WHERE TRIP_PATH_NM IS NOT NULL AND TRIP_CTPV IN (11, 26, 30, 31, 32, 39, 38) -- 예: 서울(11), 부산(26), 대전(30), 울산(31), 세종(32) 등 필요한 지역코드
             )
        WHERE rn = 1
        ORDER BY DBMS_RANDOM.VALUE -- 가져온 지역들 사이에서도 순서를 랜덤하게 섞음
    </select>


</mapper>