<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.trip.TripMapper">

	<insert id="doSave" parameterType="com.pcwk.ehr.trip.TripVO">

	INSERT INTO trip (
		trip_id,
		trip_name,
		trip_img,
		trip_add,
		trip_mapx,
		trip_mapy,
		trip_tag,
		trip_type,
		trip_sido,
		trip_gungu,
		trip_viewcnt
		) VALUES (
		#{trip_id},
		#{trip_name},
		#{trip_img},
		#{trip_add},
		#{trip_mapx},
		#{trip_mapy},
		#{trip_tag},
		#{trip_type},
		#{trip_sido},
		#{trip_gungu},
		#{trip_viewcnt}
		)
	</insert>
	
	<delete id="deleteAll">
	DELETE FROM trip;
	</delete>
	
	<select id="doSelectOne" parameterType="com.pcwk.ehr.trip.TripVO" 
	resultType="com.pcwk.ehr.trip.TripVO">
    SELECT
        trip_id,
        trip_name,
        trip_img,
        trip_add,
        trip_mapx,
        trip_mapy,
        trip_tag,
        trip_type,
        trip_sido,
        trip_gungu,
        trip_viewcnt
    FROM trip
    WHERE trip_id = #{trip_id}
</select>
	

</mapper>