<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.user.UserMapper">

    <resultMap type="UserVO" id="userMap">
        <id column="USER_ID" property="userId" />
        <result column="EMAIL" property="email"/>
        <result column="PASSWORD" property="password"/>
        <result column="USER_NAME" property="userName"/>
        <result column="USER_BIRTH" property="userBirth"/>
        <result column="USER_TEL" property="userTel"/>
        <result column="PROFILE_IMG" property="profileImg"/>
        <result column="USER_TAG" property="userTag"/>
        <result column="USER_SEX" property="userSex"/>
        <result column="USER_ROLE" property="userRole"/>
        <result column="PROVIDER" property="provider"/>
        <result column="PROVIDER_ID" property="providerId"/>
        <result column="REG_DT" property="regDt"/>
        <result column="MOD_DT" property="modDt"/>
    </resultMap>

    <insert id="doSave" parameterType="UserVO">
        <selectKey keyProperty="userId" order="BEFORE" resultType="int">
            SELECT SEQ_USER.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO ss_user (
            user_id, email, password, user_name, user_birth,
            user_tel, profile_img, user_tag, user_sex, user_role,
            provider, provider_id, reg_dt, mod_dt
        ) VALUES (
            #{userId}, #{email}, #{password}, #{userName}, #{userBirth},
            #{userTel}, #{profileImg}, #{userTag}, #{userSex}, #{userRole},
            #{provider}, #{providerId}, SYSDATE, SYSDATE
        )
    </insert>

    <select id="doSelectOne" parameterType="UserVO" resultMap="userMap">
        SELECT * FROM ss_user 
        WHERE user_id = #{userId}
    </select>

    <update id="doUpdate" parameterType="UserVO">
        UPDATE ss_user
        SET email      = #{email},
            password   = #{password},
            user_name  = #{userName},
            user_tel   = #{userTel},
            user_birth = #{userBirth},
            user_sex   = #{userSex},
            mod_dt     = SYSDATE
        WHERE user_id  = #{userId}
    </update>

    <delete id="doDelete" parameterType="UserVO">
        DELETE FROM ss_user WHERE user_id = #{userId}
    </delete>

    <delete id="deleteAll">
        DELETE FROM ss_user
    </delete>

    <select id="getCount" resultType="int">
        SELECT COUNT(*) FROM ss_user
    </select>

</mapper>